<div class="authBlock">
    <h3
    style = " color: black;
    font-weight: bold;
    font-size: 140%;">Sign In</h3>
    <div class="formGroup"
      style = "
      display: flex;
      justify-content: center;">
      <input
        style = "border-radius: 5px;
        width: 425px;
        height: 40px;
        margin-bottom: 24px;"
        type="text"
        class="formControl"
        placeholder="Email"
        #userEmail
        required
      />
    </div>
    <div class="formGroup"
      style = "
      display: flex;
      justify-content: center;">
      <input
        style = "border-radius: 5px;
        width: 425px;
        height: 40px;"
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
      />
    </div>
    
    <div class="formGroup"
      style = "
      display: flex;
      justify-content: center;">
      <input
        style = "border: 1px solid black;
        margin-top: 36px;"
        type="button"
        class="btn btnPrimary"
        value="Sign In"
        (click)="
          authenticationService.SignIn(userEmail.value, userPassword.value)
        "
      />
    </div>
  </div>